{% extends 'base.html' %}
{% block content %}
    <title>{{ title }}</title>
    {% include 'home/includes/nav.html' %}
    <ul>
        {% for g in goods %}
        {% if g.is_active %}
        <li>
            <h2>{{ g.title }}</h2>
            <p>{{ g.description }}</p>
            <p><a href = "{% url 'show_goods_html' g.id %}">Watch more</a></p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}

    </ul>
<!--Includes only nav.html with the certain variable -->
    {% include 'home/includes/nav.html' only with info='info' %}
<br>
<!--Includes only nav.html-->
    {% include 'home/includes/nav.html' only %}
{% endblock %}
