
{% load hometags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <title>Base</title>-->
</head>
<ul>
    <li><a href="{% url 'home' %}">Main Page</a></li>
    {% for m in main_menu %}
    {% if not forloop.last %}
    <li>
        {% else %}
    <li class = "last">
        {% endif %}

        <p><a href="{% url m.url_name %}">{{ m.name }}</a></p>
    </li>
    {% endfor %}
</ul>
<body>
<!--{% get_cats as categories %}-->
<!--{% for cat in categories %}-->
<!--<li><a href = "{% url 'category' cat.id %}">{{ cat.name }}</a></li>-->
<!--{% endfor %}-->
{% if cat_selected == 0 %}

{% show_categories cat_selected %}

{% block content %}
{% endblock %}
</body>
</html>